#board {
  z-index: 0;
  position: relative;
  width: 90vmin;
  height: 90vmin;
  background-color: $c-bg-main;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  //border: 0.25vmin solid $c-danger;
  box-shadow: 0px 0px 40px 7px rgba(0, 0, 0, 0.4);
  border-radius: 0.5%;

  .actor {
    &.snake {
      padding: 0.3vmin;
      background-color: $c-primary;

      &.head {
        position: relative;

        &:before,
        &:after {
          content: "";
          width: 0.7vmin;
          height: 0.7vmin;
          position: absolute;
          background-color: $c-secondary;
          transform: translate(-50%, -50%);
        }

        &::before {
          top: 30%;
          left: 50%;
        }

        &:after {
          top: 70%;
          left: 50%;
        }

        &[direction="vert"] {
          &::before {
            top: 50%;
            left: 30%;
          }

          &:after {
            top: 50%;
            left: 70%;
          }
        }
      }
    }

    &.food {
      background-color: $c-secondary;
    }
  }
}
