$c-white: #fff;
$c-black: #262626;
$c-grey: #3b3b3b;
$c-blue: rgb(23, 94, 160);
$c-green: #4eaa5c;
$c-red: #9b0707;

$c-bg: $c-black;
$c-bg-main: $c-grey;
$c-primary: $c-green;
$c-secondary: $c-blue;
$c-danger: $c-red;
