#menu {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vmin;
  height: 90vmin;
  padding-right: 1rem;

  overflow-y: auto;
  overflow-x: hidden;

  text-align: center;

  background-color: $c-bg-main;

  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  font-size: xx-large;

  .title {
    text-align: center;
    color: $c-primary;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0.1rem;
    padding-top: 1rem;
  }

  .source {
    font-size: large;
    color: whitesmoke;
    letter-spacing: 0.1rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  button {
    background-color: $c-primary;
    border-radius: 100px;
    color: whitesmoke;
    font-size: xx-large;
    padding: 0.75rem 4rem;
    margin: 1rem auto;
    cursor: pointer;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    opacity: 0.95;

    &:hover {
      opacity: 1;
    }
  }

  .settings-tab {
    .setting {
      margin: 1rem 0;
      text-align: left;
    }

    label {
      font-size: 25px;
      margin-right: 1rem;
      margin-left: 1rem;
    }

    input {
      margin-right: 1rem;
      margin-left: 1rem;
      font-size: 25px;
      background-color: $c-white;
      border: none;
      //border-bottom: 0.1rem solid $c-primary;
      color: $c-grey;
      width: 100%;
      opacity: 0.85;
      padding: 5px;
      border-radius: 8px;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }

  .gameover-tab {
    display: none;
    margin-top: 1rem;
  }
}
